#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   60       0     0     0>
            , <&key_physical_attrs 100 100  100   10       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   20       0     0     0>
            , <&key_physical_attrs 100 100  400   35       0     0     0>
            , <&key_physical_attrs 100 100    0  160       0     0     0>
            , <&key_physical_attrs 100 100  100  110       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  120       0     0     0>
            , <&key_physical_attrs 100 100  400  135       0     0     0>
            , <&key_physical_attrs 100 100    0  260       0     0     0>
            , <&key_physical_attrs 100 100  100  210       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  220       0     0     0>
            , <&key_physical_attrs 100 100  400  235       0     0     0>
            , <&key_physical_attrs 100 100  370  350       0     0     0>
            , <&key_physical_attrs 100 100  490  335    1500   430   455>
            , <&key_physical_attrs 100 100  620  310    2300   430   455>
            , <&key_physical_attrs 100 100  585  245       0     0     0>
            ;
    };
};
