#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        studio_unlock_combo {
            timeout-ms = <1000>;
            key-positions = <15 16>;
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp Z    &kp M    &kp K    &kp Y    &kp W
                &kp A    &kp B    &kp C    &kp R    &kp G
                &kp C_AL_WWW    &kp E    &kp F    &kp N    &kp P
                &kp Q    &kp B    &kp L    &kp 1
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
                &out OUT_BLE  &out OUT_USB  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
                &trans        &trans       &trans        &trans        &trans
                &trans        &trans       &trans        &trans        &trans
                &trans        &trans       &trans        &trans
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
 };